/* .product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 16px; 
  margin-bottom: 40px; 
}

.product-item {
  width: 200px;
}


.pagination-container {
  margin-top: 40px; 
  display: flex;
  justify-content: center; 
} */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px; /* مسافة بين الشبكة والترقيم */
}

.product-item {
  display: flex;
  flex-direction: column;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
